{% extends 'account/base.html' %}
{% block content %}
    {% if is_error %}
        <h1>There was an error getting ticket info</h1>
    {% else %}
        {% if is_empty %}
            <h1>No tickets to show for this user</h1>
        {% else %}
            <h1>Tickets for u/{{ username }}</h1>
            <br/>
            {% for ticket in tickets %}
                <div class="media-body">
                    <div class="article-metadata">
                        <strong class="mr-2">{{ forloop.counter }})</strong>
                        <a class="mr-2">EmailID: {{ ticket.email }}</a>
                        <a class="text-muted">TicketID: {{ ticket.id }}</a>
                    </div>
                    <h4><p class="article-title">Subject: {{ ticket.subject }}</p></h4>
                    <h4><p class="article-title">Category: {{ ticket.category }}</p></h4>
                    <h4><p class="article-title">Priority: {{ ticket.priority }}</p></h4>
                </div>
                <br /><br />
            {% endfor %}
        {% endif %}
    {% endif %}
{% endblock content %}